.bodybg1{
    -fx-background-image: url("/resources/images/background.png");
    -fx-background-size: 100% 100%;
}

.bodybg2{
    -fx-background-image: url("/resources/images/cleanB.png");
    -fx-background-size: 100% 100%;
}

.bgFight {
    -fx-background-image: url("/resources/images/fightBackground.png"); 
    -fx-background-size: 100% 100%;      

}



#PlayB {
    -fx-font-family: "Kiddosy free";
    -fx-letter-spacing: 2px;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #e48c11 0%, #ac721b 100%),
        #d9a31a,
        #d7d09b,
        radial-gradient(center 50% 50%, radius 100%, #ffd500, #d8af4f);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 3.9em;
    -fx-cursor: hand; 
}

#PlayB:hover {
    -fx-background-color: 
    linear-gradient(from 0% 93% to 0% 100%, #e48c11 0%, #ac721b 100%),
        #d9a31a,
        #d7d09b,
        radial-gradient(center 50% 50%, radius 100%, #eec709, #c6a149);
}

.cozy-text {
    -fx-alignment: center;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-font-family: "Kiddosy free";
    -fx-text-fill: #4b3b2a;       
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2.5px;              
    -fx-line-spacing: 2.5px;         
    -fx-wrap-text: true;          
    -fx-border-radius: 2.5px;    
    -fx-background-radius: 2.5px; 
}
.cozy-text-small {
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Kiddosy free"; 
    -fx-text-fill: #4b3b2a;        
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2.5px;              
    -fx-line-spacing: 2.5px;         
    -fx-wrap-text: true;     
    -fx-border-radius: 2.5px;    
    -fx-background-radius: 2.5px;  
}
.cozy-text-small-center {
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-font-family: "Kiddosy free"; 
    -fx-text-fill: #4b3b2a;        
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2.5px;              
    -fx-line-spacing: 2.5px;         
    -fx-wrap-text: true;     
    -fx-border-radius: 2.5px;    
    -fx-background-radius: 2.5px;  
}


.my-input {
    -fx-background-color: rgb(245, 255, 244);
    -fx-text-fill: rgb(36, 35, 42);
    -fx-font-family: "Kiddosy free";
    -fx-font-size: 16px;
    -fx-padding: 8 16 8 16; 
    -fx-min-height: 40px;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 3, 0, 0, 1);
    -fx-focus-color: rgb(34,139,34);    ;
    -fx-faint-focus-color: transparent;
}

.my-input:focused {
    -fx-border-color: rgb(34,139,34);    ;
}


.my-inputStrength {
    -fx-background-color: rgb(255, 247, 247);
    -fx-text-fill: rgb(36, 35, 42);
    -fx-font-size: 16px;
    -fx-font-family: "Kiddosy free";
    -fx-padding: 8 16 8 16; 
    -fx-min-height: 40px;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 3, 0, 0, 1);
    -fx-focus-color: rgb(146, 2, 2);    ;
    -fx-faint-focus-color: transparent;
}

.my-inputStrength:focused {
    -fx-border-color: rgba(255, 0, 0, 0.564);    ;
}


.closeB {
    -fx-background-color: 
    radial-gradient(center 50% 50%, radius 100%, #ffd500, #d8af4f);
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
    -fx-background-radius: 50%;
    -fx-cursor: hand;
}


.closeB:hover {
    -fx-background-color: 
    radial-gradient(center 50% 50%, radius 100%, #f2cb07, #d8af4f);
}


.cardB{
    -fx-background-color: transparent; 
    -fx-border-color: transparent;     
    -fx-focus-color: transparent;     
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;   
    -fx-cursor: hand;             
}

.card {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 5);
    -fx-cursor: hand; 
    -fx-translate-y: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s ease; 
}
.cardB:hover {
    -fx-translate-y: -10;  
    -fx-scale-x: 1.05;   
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 10);
}

.card-frame {
    -fx-border-color: gold;    
    -fx-border-width: 4px;     
    -fx-border-radius: 10px;   
    -fx-effect: dropshadow(gaussian, gold, 20, 0.5, 0, 0); 
}


.health {
    -fx-font-family: "Comic Sans MS", "Verdana", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #A8E6A3 0%, #5AA65C 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,128,0,0.2), 5, 0.2, 0, 2);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 8;
}

.power {
    -fx-font-family: "Comic Sans MS", "Verdana", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #FFA3A3 0%, #D65A5A 100%);
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.2), 5, 0.2, 0, 2);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 8;
}

.speed {
    -fx-font-family: "Comic Sans MS", "Verdana", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #D6A3F7 0%, #8A4BD6 100%);
    -fx-effect: dropshadow(gaussian, rgba(128,0,128,0.2), 5, 0.2, 0, 2);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 8;
}


.bgCloser {
    -fx-background-image: url("/resources/images/cleanB.png"); 
    -fx-background-size: 130% 130%;      
    -fx-background-position: center 40%;

}


.end-game-label {
    -fx-font-size: 48px;
    -fx-font-family: "Kiddosy free"; 
    -fx-font-weight: bold;
    -fx-text-fill: white;

    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 40px;

    -fx-background-color: rgba(34, 33, 33, 0.7);
    -fx-background-radius: 20;

    -fx-border-color: gold;
    -fx-border-width: 3;
    -fx-border-radius: 20;

    -fx-effect: dropshadow(gaussian, black, 20, 0.5, 0, 0);
}
